.card{
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    background-color: rgb(236, 236, 236);
    text-align: center;
    box-shadow: 0 12px 16px 0 rgba(124, 124, 124, 0.467), 0 17px 50px 0 rgba(110, 110, 110, 0.451);

}

svg{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

input{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 35px;
    margin-top: 15px;
    border-style: hidden;
    border-radius: 10px;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}



.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  margin-bottom: 10px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
